@font-face {
  font-family: "ExposureVAR";
  src: url("https://dentrodelacaja.com/assets/fonts/205TF-Exposure-ExposureVAR.ttf")
    format("truetype");
  font-weight: 100 900; /* Rango completo */
}

@font-face {
  font-family: "ExposureVARItalic";
  src: url("https://dentrodelacaja.com/assets/fonts/205TF-Exposure-ExposureVARItalic.ttf")
    format("truetype");
  font-weight: 100 900; /* Rango completo */
}

/*
@font-face {
  font-family: "Exposure VAR";
  src: url("https://dentrodelacaja.com/assets/fonts/eposure/ExposureVAR-Exposure.woff2")
      format("woff2"),
    url("https://dentrodelacaja.com/assets/fonts/exposure/ExposureVAR-Exposure.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Exposure VAR Italic";
  src: url("https://dentrodelacaja.com/assets/fonts/exposure/ExposureVAR-ExposureItalic.woff2")
      format("woff2"),
    url("https://dentrodelacaja.com/assets/fonts/exposure/ExposureVAR-ExposureItalic.woff")
      format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
  */

body {
  background: black;
  margin: 0;
  padding: 0;
}

#contenedor-general {
  width: 80%;
  margin-left: 10%;
  margin-top: 100px;
  height: 100vh;
  color: white;
}

h1 {
  font-family: "ExposureVARItalic";
  font-variation-settings: "EXPO" -40;
  /*font-style: italic;*/
}

p {
  font-family: "ExposureVAR";
  font-variation-settings: "EXPO" -10;
  /* font-style: normal;*/
}

#contenedor-logos {
  margin-top: 100px;
  background-color: #ffb9d1;
  width: 100%;
  display: flex; /* hace que el hijo (logo-plataforma) pueda alinearse dentro */
  justify-content: space-around; /* opcional: distribuye espacio */
  border-radius: 20px 20px 20px 20px;
}

.logo-plataforma {
  width: 100%;
}

a {
  width: 50%;
  max-width: 400px;
  margin: 50px 0 50px 0;
}

@media only screen and (max-width: 1000px) {
  a {
    width: 40%;
    margin: 50px 0 50px 0;
  }
}

/*
.card {
  text-align: center;
  max-width: 400px;
  padding: 24px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}
button,
a {
  display: inline-block;
  margin: 8px;
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #fff;
  text-decoration: none;
  color: #333;
  font-size: 15px;
  cursor: pointer;
}
button:hover,
a:hover {
  background: #f0f0f0;
}
*/
