@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Space+Grotesk:wght@300..700&display=swap");



@font-face {
  font-family: "LektonRegular";
  src: url("../assets/fonts/Lekton/Lekton-Regular.ttf")
    format("truetype");
 
}

@font-face {
  font-family: "LektonItalic";
  src: url("./assets/fonts/Lekton/Lekton-Italic.ttf")
    format("truetype");

}

@font-face {
  font-family: "LektonBold";
  src: url("./assets/fonts/Lekton/Lekton-Bold.ttf")
    format("truetype");

}

body {
  font-family: "Funnel Display";
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  /*font-weight: 500;*/
}

#caja-de-texto {
  margin-top: 80px;
  width: 70%;
  margin-left: 15%;
  font-size: 16px;
}

#contenedor-general {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 70%;
  height: 80%;
  color: #774aff;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 5%;
  padding-right: 5%;
  transform: translateX(-50%) translateY(-50%);
}


.link {
  z-index: -20;
  font-weight: 800;
  text-decoration: none;
  color: #774aff;
  text-decoration: underline;

}

.link:hover {
  cursor: pointer;
}

ul{
  list-style: none;
}


