@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Space+Grotesk:wght@300..700&display=swap");

@font-face {
  font-family: "RopaSansProRegular";
  src: url("./assets/fonts/RopaSans/RopaSansPro/RopaSansPro-Regular.ttf")
    format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "RopaSansProItalic";
  src: url("./assets/fonts/RopaSans/RopaSansPro/RopaSansPro-Italic.ttf")
    format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "LektonRegular";
  src: url("./assets/fonts/Lekton/Lekton-Regular.ttf")
    format("truetype");
 
}

@font-face {
  font-family: "LektonItalic";
  src: url("./assets/fonts/Lekton/Lekton-Italic.ttf")
    format("truetype");

}

@font-face {
  font-family: "LektonBold";
  src: url("./assets/fonts/Lekton/Lekton-Bold.ttf")
    format("truetype");

}


@font-face {
  font-family: "AlphaLyrae";
  src: url("./assets/fonts/AlphaLyrae/AlphaLyrae-Medium.ttf")
    format("truetype");
  font-weight: 400;
}

.saludo {
   font-weight: 200;
}

.saludo:hover {
 
}

body {
  font-family: "AlphaLyrae";
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #ffffff;*/
  font-weight: 100;
}

#puertaIzq,
#puertaDer {
  width: 50%;
  height: 100%;
  position: absolute;
  /* background-color: #774aff;*/

  z-index: 2;
  /* visibility: hidden;*/
  background-color: #e5e5f7;
  opacity: 0.8;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(
    45deg,
    #444cf7 0,
    #444cf7 1px,
    #e5e5f7 0,
    #e5e5f7 50%
  );
}

#puertaArr,
#puertaAba {
  width: 100%;
  height: 50%;
  position: absolute;
  /*background-color: #4f2cb6;*/

  /*visibility: hidden;*/

  
  background-color: #e5e5f7;
  opacity: 0.8;
  background-size: 5px 5px;
  background-image: repeating-linear-gradient(
    -45deg,
    #000ac6 0,
    #000ac6 1px,
    #e5e5f7 0,
    #e5e5f7 50%
  );
  
/*
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: linear-gradient(45deg, #444cf7 50%, #e5e5f7 50%);
  background-size: 15px 15px;
  */
}

#puertaIzq {
  left: 0;
  transform: translateX(-5%);
}

#puertaDer {
  right: 0;
  transform: translateX(5%);
}

#puertaArr {
  top: 0;
  transform: translateY(0%);
}

#puertaAba {
  bottom: 0;
  transform: translateY(5%);
}

#puertaIzq:hover,
#puertaDer:hover,
#puertaArr:hover,
#puertaAba:hover {
  cursor: pointer;
}

#puertas {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
}

#puertas > div {
  pointer-events: auto;
}

/* izq der */
#puertaIzq.abrir {
  animation: abrirIzq 1s ease-out forwards;
}

#puertaIzq.cerrar {
  animation: cerrarIzq 1s ease-out forwards;
}

#puertaDer.abrir {
  animation: abrirDer 1s ease-out forwards;
}

#puertaDer.cerrar {
  animation: cerrarDer 1s ease-out forwards;
}

/* arriba abajo */

#puertaArr.abrir {
  animation: abrirArr 1s ease-out forwards;
}

#puertaArr.cerrar {
  animation: cerrarArr 1s ease-out forwards;
}

#puertaAba.abrir {
  animation: abrirAba 1s ease-out forwards;
}

#puertaAba.cerrar {
  animation: cerrarAba 1s ease-out forwards;
}

/*/
#chapaIzq,
#chapaDer {
  width: 20px;
  height: 80px;
  position: absolute;
  border-radius: 5%;
  top: 50%;
  background-color: cyan;
}
*/

/*
#chapaIzq {
  right: 20px;
  transform: translate(-50%, -50%);
}

#chapaDer {
  left: 20px;
  transform: translate(0%, -50%);
}

.chapa:hover {
  cursor: pointer;
}
*/

/* Animaciones */

@keyframes abrirIzq {
  0% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(-80%);
  }
}

@keyframes cerrarIzq {
  0% {
    transform: translateX(-80%);
  }
  100% {
    transform: translateX(-5%);
  }
}

@keyframes abrirDer {
  0% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(80%);
  }
}

@keyframes cerrarDer {
  0% {
    transform: translateX(80%);
  }
  100% {
    transform: translateX(5%);
  }
}

@keyframes abrirArr {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-80%);
  }
}

@keyframes cerrarArr {
  0% {
    transform: translateY(-80%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes abrirAba {
  0% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(80%);
  }
}

@keyframes cerrarAba {
  0% {
    transform: translateY(80%);
  }
  100% {
    transform: translateY(5%);
  }
}

#caja-de-texto {
  margin-top: 80px;
  width: 80%;
  margin-left: 10%;
}

#contenedor-general {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 70%;
  height: 80%;
  /*color: #774aff;*/
  color: black;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 5%;
  padding-right: 5%;
  transform: translateX(-50%) translateY(-50%);
}

p {
  font-weight: 100;
  font-size: 50px;
  margin: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media only screen and (max-width: 1400px) {
  p {
    font-size: 30px;
  }
}

.link {
  z-index: -20;

  text-decoration: none;
  /*color: #774aff;*/
  color: rgb(0, 0, 0);
  /*text-decoration: underline;*/
   outline-style:dotted;
   outline-width: 1px;
}


.link:hover {
  cursor: pointer;
  outline-width: 2px;
  outline-style: solid;
 
}
